# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
# IDE
.idea/
.vscode/
# Android/iOS
android/.gradle/
android/local.properties
ios/Pods/
# Node (لو عندك)
node_modules/
# Secrets
.env
*.jks
*.keystore
*serviceAccountKey*.json
**/serviceAccountKey.json
